<div class="modal fade" id="toolModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark">
      <%= form_with(model: tool, local: true) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="Title"><%= tool.title %></h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if tool.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(tool.errors.count, "error") %> prohibited this house from being saved:</h2>
              <ul>
                <% tool.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="col-md-6 right-separator">
              <h3>Características</h3>

              <div class="form-group form-inline">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-hashtag"></i>&nbsp;</div>
                  </div>
                  <% if @tool.nil? %>
                    <%= form.text_field :name, class: "custom-control", placeholder: 'Nombre corto' %>
                  <% else %>
                    <%= form.text_field :name, class: "custom-control disabled", readonly: true, value: tool.name %>
                  <% end %>
                </div>
              </div>

              <div class="form-group form-inline">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-signature"></i>&nbsp;</div>
                  </div>
                  <%= form.text_field :title, class: "custom-control", placeholder: 'Título' %>
                </div>
              </div>

              <div class="form-group form-inline">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-signature"></i>&nbsp;</div>
                  </div>
                  <%= form.text_field :short_title, class: "custom-control", placeholder: 'Título corte' %>
                </div>
              </div>

              <div class="form-group form-inline">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-at"></i>&nbsp;</div>
                  </div>
                  <%= form.text_field :path, class: "custom-control", placeholder: 'Ruta' %>
                </div>
              </div>

              <div class="form-group form-inline">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="<%= @tool.nil? ? 'fab fa-fort-awesome' : tool.icon %>"></i>&nbsp;</div>
                  </div>
                  <%= form.text_field :icon, class: "custom-control", placeholder: 'Icono' %>
                </div>
              </div>

              <div class="form-group form-inline">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">¿Activa?</div>
                  </div>
                  <div class="form-check checkbox-slider--a checkbox-slider-lg">
                    <label>
                      <%= form.check_box :active %><span>&nbsp;</span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group form-inline">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">¿Máster?</div>
                  </div>
                  <div class="form-check checkbox-slider--a checkbox-slider-lg">
                    <label>
                      <%= form.check_box :master %><span>&nbsp;</span>
                    </label>
                  </div>
                </div>
              </div>

            </div>

          <div class="col-md-6">
            <h3>Partidas</h3>

            <%= form.fields_for :game, Game.all do |form| %>
              <div class="form-group form-inline">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><%= form.object.title %></div>
                  </div>
                  <div class="form-check checkbox-slider--a checkbox-slider-lg">
                    <label>
                      <%= form.check_box :active, options = {checked: @tool.game.exists?(form.object.id) ? true : false}, true %><span>&nbsp;</span>
                    </label>
                  </div>
                </div>
              </div>
            <% end %>

          </div>
        <div class="form-group form-inline">
          <%= form.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
