<% provide(:title, $all_tools.find_by(path: request.fullpath).title) %>
<% provide(:icon, $all_tools.find_by(path: request.fullpath).icon) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<% if current_user.try(:is_master?) then %>
  <nav>
    <div class="nav nav-pills mb-1" id="nav-tab" role="tablist">
      <% @civilizations.each do |civ| %>
        <a class="nav-item nav-link <%= civ == @civilizations.first ? 'active' : '' %>" id="nav-<%= civ.name %>-tab" data-toggle="tab" href="#nav-<%= civ.name %>" role="tab" aria-controls="nav-<%= civ.name %>" aria-selected="false"><%= civ.name %></a>
      <% end %>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <% @civilizations.each do |civ| %>
      <div class="tab-pane fade <%= civ == @civilizations.first ? 'active show' : '' %>" id="nav-<%= civ.name %>" role="tabpanel" aria-labelledby="nav-<%= civ.name %>-tab">
        <% @resource = civ.resource %>
        <% @systems = civ.systems %>
        <div class='container row'>
          <div class="float-left col-1 mt-4">
            <%= link_to '', dashboard_tech_path(id: civ), remote:true, class: 'white display-4 mb-3 fas fa-flask' %>
            <i class="white display-4 fas fa-flask"></i>
          </div>
          <%= render 'dashboard' %>
          <%= render 'controls' %>
        </div>
        <%= render 'systems_table' %>
      </div>
    <% end %>
  </div>
<% else %>
<div class="float-left col-1 mt-4">
  <%= link_to '', dashboard_tech_path(id: current_user.house), remote:true, class: 'white display-4 mb-3 fas fa-flask' %>
  <i class="white display-4 fas fa-flask"></i>
</div>
  <%= render 'dashboard' %>
  <%= render 'systems_table' %>
<% end %>

<!-- Modal -->

<div class="modal fade" id="sectorModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div id='sector-content' class="modal-content bg-dark">
    </div>
  </div>
</div>

<div class="modal fade" id="techModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div id='tech-content' class="modal-content bg-dark">
    </div>
  </div>
</div>
