<div class="center">
  <div>
    <% $tools.each do |k,v| %>
      <div class="tool-box">
        <h1><%= link_to "", $tools[k][:path], class: "white giant-icon #{$tools[k][:icon]}" %></h1>
        <p><%= $tools[k][:short_title] %></p>
      </div>
    <% end %>
  </div>

  <div>
    <% if current_user.try(:is_master?) then %>
      <% $master_tools.each do |k,v| %>
        <div class="tool-box">
          <h1><%= link_to "", $master_tools[k][:path], class: "SandyBrown giant-icon #{$master_tools[k][:icon]}" %></h1>
          <p><%= $master_tools[k][:short_title] %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <% $ap_tools.each do |k,v| %>
      <div class="tool-box">
        <h1><%= link_to "", $ap_tools[k][:path], class: "white giant-icon #{$ap_tools[k][:icon]}" %></h1>
        <p><%= $ap_tools[k][:short_title] %></p>
      </div>
    <% end %>
  </div>
</div>
