<script>$('#hex').hexGridWidget(20, 10, 10, 'hexfield')</script>

<div id='hex'>
</div>

<div class="center">
  <div>
    <% $tools.each do |tool| %>
      <div class="tool-box">
        <h1><%= link_to "", tool.path, class: "white giant-icon #{tool.icon}" %></h1>
        <p><%= tool.short_title %></p>
      </div>
    <% end %>
  </div>

  <div>
    <% if current_user.try(:is_master?) then %>
      <% $master_tools.each do |tool| %>
        <div class="tool-box">
          <h1><%= link_to "", tool.path, class: "SandyBrown giant-icon #{tool.icon}" %></h1>
          <p><%= tool.short_title %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if Rails.env.development? %>
    <div>
      <% if current_user.try(:is_master?) then %>
        <% $all_tools.each do |tool| %>
          <div class="tool-box">
            <h1><%= link_to "", tool.path, class: "#{tool.icon}" %></h1>
            <p><%= tool.short_title %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
