<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation" class="container mx-auto text-center alert alert-danger">
      <h2>Se ha encontrado un error</h2>
      <ul class="list-unstyled text-left">
      <% house.errors.messages.values.each do |msg| %>
        <%msg.each do |m| %>
          <li><%= m %></li>
        <%end %>
      <% end %>
      </ul>
    </div>
  <% end %>      
  
  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-hashtag"></i>&nbsp;</div>
      </div>
      <%= form.number_field :hid, class: "custom-control", disabled: true, value: @house.nil? || house.hid.nil? ? @next_id : house.hid %>
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-flag"></i>&nbsp;</div>
      </div>
      <%= form.text_field :name, class: "custom-control", placeholder: 'Nombre de la casa' %>
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">¿Activa?</div>
      </div>
      <div class="form-check checkbox-slider--a checkbox-slider-lg">
  	    <label>
	        <%= form.check_box :active, default: 'no'  %><span>&nbsp;</span>
	      </label>
      </div>
    </div> 
  </div> 
  <div class="form-group form-inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>