<div class="modal fade" id="houseModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
    <%= form_with(model: house, local: true) do |form| %>
      <div class="modal-header">
        <h5 class="modal-title" id="Title"><%= house.name.nil? ? 'Nueva casa' : house.name %></h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if house.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>
            <ul>
              <% house.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>   
  
  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-hashtag"></i>&nbsp;</div>
      </div>
      <%= form.number_field :hid, class: "custom-control", readonly: true, value: @house.nil? || house.hid.nil? ? @next_id : house.hid %>
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-flag"></i>&nbsp;</div>
      </div>
      <%= form.text_field :name, class: "custom-control ui-autocomplete-input auto-source", data: {autocomplete_source: family_list_path}, placeholder: 'Nombre de la casa' %>
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">¿Activa?</div>
      </div>
      <div class="form-check checkbox-slider--a checkbox-slider-lg">
  	    <label>
	        <%= form.check_box :active, default: 'no'  %><span>&nbsp;</span>
	      </label>
      </div>
    </div> 
  </div> 
  <div class="form-group form-inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>

      </div>
    </div>
  </div>
</div>