<% provide(:title, 'Editar — ' + @house.name) %>
<% provide(:version, $master_tools[:houses][:version]) %>
<% provide(:icon, $master_tools[:houses][:icon]) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<%= render 'form', house: @house %>

<%= link_to 'Show', @house %> |
<%= link_to 'Back', houses_path %>