<% provide(:title, $master_tools[:houses][:title]) %>
<% provide(:version, $master_tools[:houses][:version]) %>
<% provide(:icon, $master_tools[:houses][:icon]) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div>
  <table class="table table-dark table-striped table-borderless table-hover table-sm table-responsive sortable">
    <caption>Lista de casas</caption>
      <thead>
        <tr>
          <th scope="col">HID <i class="fas fa-sort"></i></th>
          <th scope="col">Casa <i class="fas fa-sort"></i></th>
          <th scope="col">¿Activa? <i class="fas fa-sort"></i></th>          
          <th scope="col" colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @houses.each do |house| %>
          <tr class="<%= house.active == true ? "" : "destroyed" %>" >
            <td><%= house.hid %></td>
            <td><%= house.name %></td>
            <td class="text-center">
              <% if house.active == true  %>
                <i class="fas fa-check"></i>
              <% else %>
                <i class="fas fa-times"></i>
              <% end %>
            </td>
            <% if current_user.try(:is_master?) then %>
              <td><%= link_to '', edit_house_path(house), remote: true, class: 'fas fa-edit white' %></td>
              <td><%= link_to '', house, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'fas fa-trash-alt white' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>

<% if current_user.try(:is_master?) then %>
  <div><%= link_to '<i class="fas fa-plus-circle"></i> Añadir casa'.html_safe, new_house_path, remote:true, class: "btn btn-primary"%></div>
<% end %>

<div class="version"><%= yield(:title) %> version <%= yield(:version) %></div>

<!-- Modal -->

<div id='house-content'></div>