<div class="modal fade" id="sectorModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark">
      <%= form_with(model: sector, local: true) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="Title"><%= sector.name.nil? ? 'Nuevo sistema' : sector.name %></h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if sector.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(sector.errors.count, "error") %> prohibited this sector from being saved:</h2>
              <ul>
                <% sector.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group form-inline">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-hashtag"></i>&nbsp;</div>
              </div>
              <%= form.number_field :id, style: "width: 90px", class: "custom-control", disabled: true, value: sector.id %>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">q</div>
              </div>
              <%= form.number_field :q, style: "width: 90px", class: "custom-control" %>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">q</div>
              </div>
              <%= form.number_field :r, style: "width: 90px", class: "custom-control" %>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-flag"></i>&nbsp;</div>
              </div>
              <%= form.select :sector_type, options_for_select($sector_types.invert(), sector.sector_type), {}, class: "custom-select" %>
            </div>
          </div>
          <%= form.fields_for :sector_users do |form| %>
            <div class="form-group">
              <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-hashtag"></i>&nbsp;</div>
                </div>
                <%= form.text_field :user_id, class: "custom-control" %>
                <%= form.fields_for :user do |form| %>
                  <%= form.text_field :player, class: "custom-control" %>
                <% end %>
                <%= form.number_field :info, style: "width: 90px", class: "custom-control" %>
              </div>
          <% end %>

          <div class="form-group form-inline">
            <%= form.submit class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
