<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
    <%= form_with(model: user, local: true) do |form| %>
      <div class="modal-header">
        <h5 class="modal-title" id="Title"><%= user.player.nil? ? 'Nuevo jugador' : user.player %></h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
              <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
  
  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-user"></i>&nbsp;</div>
      </div>
      <%= form.text_field :player, class: "custom-control", placeholder: "Nombre del jugador"  %>
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-flag"></i></div>
      </div>
      <%= form.select :house, options_for_select($active_houses), {}, {class: "custom-select"}  %>
    </div>
  </div>
  
  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-lock"></i>&nbsp;</div>
      </div>
      <%= form.password_field :password, class: "custom-control", placeholder: "Nueva contraseña" %>
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-lock"></i>&nbsp;</div>
      </div>
      <%= form.password_field :password_confirmation, class: "custom-control", placeholder: "Confirmar contraseña" %>
    </div>
  </div>
  
  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>