<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="container mx-auto text-center alert alert-danger">
      <h2>Se ha encontrado un error</h2>
      <ul class="list-unstyled text-left">
      <% user.errors.messages.values.each do |msg| %>
        <%msg.each do |m| %>
          <li><%= m %></li>
        <%end %>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-lock"></i>&nbsp;</div>
      </div>
      <%= form.password_field :password, class: "custom-control", placeholder: "Nueva contraseña" %>
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-lock"></i>&nbsp;</div>
      </div>
      <%= form.password_field :password_confirmation, class: "custom-control", placeholder: "Confirmar contraseña" %>
    </div>
  </div>
  
  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <%= recaptcha_tags %>
    </div>
  </div>  
  
  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>