<% provide(:title, $tools[:players][:title]) %>
<% provide(:version, $tools[:players][:version]) %>
<% provide(:icon, $tools[:players][:icon]) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div>
  <table class="table table-dark table-striped table-borderless table-hover table-sm table-responsive sortable">
    <caption>Lista de jugadores</caption>
      <thead>
        <tr>
          <th scope="col">Jugador <i class="fas fa-sort"></i></th>
          <th scope="col">Casa <i class="fas fa-sort"></i></th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.player %></td>
            <td class="<%= user.house == 'Inactivo' ? 'destroyed' : '' %>"><%= user.house %></td>
            <td><%= link_to '', 'https://www.valar.es/u/'+user.player, class: "fab fa-discourse white" %></td>
            <% if current_user.try(:is_master?) then %>
              <td><%= link_to '', edit_user_path(user), remote: true, class: 'fas fa-edit white' %></td>
              <td><%= link_to '', user, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'fas fa-trash-alt white' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>

<% if current_user.try(:is_master?) then %>
  <div><%= link_to '<i class="fas fa-plus-circle"></i> Añadir jugador'.html_safe, new_user_path, remote:true, class: "btn btn-primary"%></div>
<% end %>

<div class="version"><%= yield(:title) %> version <%= yield(:version) %></div>

<!-- Modal -->

<div id='user-content'></div>