<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @user.player %>
</p>

<p>
  <strong>House:</strong>
  <%= @user.house %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
