<% provide(:title, @user.player + ' — ' + @user.house) %>
<% provide(:icon, $tools[:players][:icon]) %>

  <% if @user.errors.any? %>
    <div id="error_explanation" class="container mx-auto text-center alert alert-danger">
      <h2>Se ha encontrado un error</h2>
      <ul class="list-unstyled text-left">
      <% @user.errors.messages.values.each do |msg| %>
        <%msg.each do |m| %>
          <li><%= m %></li>
        <%end %>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div class="center">
  <div class="tool-box">
    <h1><%= link_to image_tag(cookies[:avatar_url], class: "avatar white giant-icon"), 'https://www.valar.es/u/'+@user.player %></h1>
    <p><%= @user.player %></p>
  </div>
  <div class="tool-box">
    <h1><%= link_to "", armies_url, class: "white giant-icon fas fa-chess-knight" %></h1>
    <p>Ejércitos</p>
  </div>
</div>
