<% provide(:title, $all_tools.find_by(path: request.fullpath).title) %>
<% provide(:icon, $all_tools.find_by(path: request.fullpath).icon) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div>
  <table class="table table-dark table-striped table-borderless table-hover table-sm table-responsive sortable">
    <caption>Reputaciones</caption>
      <thead>
        <tr>
          <th scope="col">Jugador <i class="fas fa-sort"></i></th>
          <th scope="col">Casa <i class="fas fa-sort"></i></th>
          <th scope="col"></th>
          <th scope="col">Mod</th>
          <th scope="col"></th>
          <th scope="col" class="destroyed">Rep</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="align-middle"><%= user.player %></td>
            <td class="align-middle"><%= user.house.name %></td>
            <td class="text-center">
              <%= form_with url: rep_change_path, remote: true do |form| %>
                <%= form.text_field :player, class: "d-none", value: user.player, readonly: true %>
                <%= form.button :submit, class: "btn btn-outline-success", value: 'up' do %>
                  <i class="fas fa-thumbs-up"></i>
                <% end %>
              <% end %>
            </td>
            <td class="text-center align-middle" id="<%= user.player %>-rep_mod"><%= user.rep_mod %></td>
            <td class="text-center">
              <%= form_with url: rep_change_path, remote: true do |form| %>
                <%= form.text_field :player, class: "d-none", value: user.player, readonly: true %>
                <%= form.button :submit, class: "btn btn-outline-danger", value: 'down' do %>
                  <i class="fas fa-thumbs-down"></i>
                <% end %>
              <% end %>
            </td>
            <td class="text-center align-middle destroyed" id="<%= user.player %>-rep_value"><%= user.reputation.nil? ? 0 : user.reputation %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>

<!-- Modal -->
