<div class="modal fade" id="armyModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="Title"><%= @army.army_title %></h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if current_user.try(:is_master?) then %>
          <div class="form-group form-inline">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-hashtag"></i>&nbsp;</div>
              </div>
              <input class="form-control" type="text" placeholder= <%= @army.aid %>  readonly>
            </div>
          </div>
        <% end %>     
        


<p>
  <strong>Visibility:</strong>
  <%= @army.aid %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @army.visible %>
</p>

<p>
  <strong>Kingdom:</strong>
  <%= @army.kingdom %>
</p>

<p>
  <strong>Location:</strong>
  <%= @army.location %>
</p>

<p>
  <strong>Lord:</strong>
  <%= @army.lord %>
</p>

<p>
  <strong>Name:</strong>
  <%= @army.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @army.position %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @army.mission %>
</p>

<p>
  <strong>Status:</strong>
  <%= @army.status %>
</p>

<p>
  <strong>Armytype:</strong>
  <%= @army.armytype %>
</p>

<p>
  <strong>Num:</strong>
  <%= @army.num %>
</p>

<p>
  <strong>Vet:</strong>
  <%= @army.vet %>
</p>

<p>
  <strong>Armour:</strong>
  <%= @army.armour %>
</p>

<p>
  <strong>Morale:</strong>
  <%= @army.morale %>
</p>

<p>
  <strong>Infantry:</strong>
  <%= @army.infantry %>
</p>

<p>
  <strong>Cavalry:</strong>
  <%= @army.cavalry %>
</p>

<p>
  <strong>Marine:</strong>
  <%= @army.marine %>
</p>

<p>
  <strong>Boat:</strong>
  <%= @army.boat %>
</p>

<p>
  <strong>Flagship:</strong>
  <%= @army.flagship %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @army.notes %>
</p>
      </div>
    </div>
  </div>
</div>