<% $active_houses.each do |house| %>
  <div class="tab-pane fade <%= house == "Master" ? 'active show' : '' %>" id="nav-<%= house %>" role="tabpanel" aria-labelledby="nav-<%= house %>-tab">
    <% if house != 'Master' then %>
      <% @armies = Army.where("array_to_string(ARRAY[visibility], '|') ilike ?", "%#{house}%") %>
    <% end %>
    <%= form_tag edit_multiple_armies_path, remote: true do %>
      <div class="mb-1 form-inline">
        <%= button_tag(type: 'button', id: "copy", class: "btn btn-primary btn-sm mass_edit_button", disabled: true) do %>
          <i class="fas fa-clipboard-list"></i> Copiar
        <% end %>  
        <%= button_tag(type: 'submit', class: "btn btn-warning btn-sm mass_edit_button", disabled: true, value: "multiple") do %>
          <i class="fas fa-edit"></i> Editar
        <% end %>  
        <%= button_tag(type: 'submit', class: "btn btn-warning btn-sm mass_edit_button", disabled: true, value: "visibility") do %>
          <i class="fas fa-eye"></i> Editar visibilidad
        <% end %>
        <%= button_tag(type: 'submit', class: "btn btn-danger btn-sm mass_edit_button", disabled: true, value: "delete") do %>
          <i class="fas fa-trash-alt"></i> Borrar todos
        <% end %>
        <% if house != 'Master' then %>
          <%= link_to "Importar/Exportar", "#csvModal", :class => "btn btn-warning btn-sm", "data-toggle" => "modal" %>
        <% end %>          
        <div class="ml-auto">
          <%= select_tag "credit_card", options_for_select(@filter), id: "filterselect-#{house}", class: "custom-select custom-select-sm" %>
          <input id="filtertext-<%= house %>" class="form-control-sm" type="text" placeholder="Filtrar...">
        </div>      
      </div>
      <table id="army_list-<%= house %>" class="table table-dark table-striped table-borderless table-hover table-sm table-responsive sortable">
        <caption>Lista de ejércitos</caption>
          <thead>
            <tr id="table_title">
              <th scope="col"><input type="checkbox" class="ckbCheckAll" /></th>
              <th scope="col"><i class="fas fa-fist-raised"></i> <i class="fas fa-sort"></i></th>
              <th scope="col">Ejército <i class="fas fa-sort"></i></th>
              <th scope="col">Rasgos <i class="fas fa-sort"></i></th>
              <th scope="col">Posición <i class="fas fa-sort"></i></th>
              <th scope="col">Misión <i class="fas fa-sort"></i></th>
              <th scope="col">Estado <i class="fas fa-sort"></i></th>
              <th scope="col">Embarcado <i class="fas fa-sort"></i></th>
              <th scope="col">Tipo <i class="fas fa-sort"></i></th>
              <th scope="col">Visibilidad <i class="fas fa-sort"></i></th>
              <th scope="col" colspan="3"></th>
            </tr>
          </thead>
          <tbody id="table_body">
            <% @armies.each do |army| %>
              <tr id="<%= army.aid %>">
                <td><%= check_box_tag "army_ids[]", army.id, false, class: "checkbox_selectable" %></td>
                <td width = "50px"><%= army.army_str %></td>
                <td width = "300px"><%= link_to army.army_title.truncate(50), edit_army_path(army), remote: true, class: "link-unstyled" %></td>
                <td width = "300px"><%= army.army_traits == '' ? 'n/a' : army.army_traits %></td>
                <td width = "180px"><%= best_in_place army, :position, :as => :input, :class => 'highlight_on_success bip-editable', :inner_class => "bip-input", :place_holder => 'n/a' %></td>
                <td width = "180px"><%= best_in_place army, :mission, :as => :input, :class => 'highlight_on_success bip-editable', :inner_class => "bip-input", :place_holder => 'n/a'  %></td>
                <td width = "160px"><%= best_in_place army, :status, :as => :select, :collection => @status, :class => 'highlight_on_success bip-editable test', :inner_class => "custom-select bip-input" %></td>
                <td width = "160px"><%= best_in_place army, :boat, :as => :select, :collection => @boat, :class => 'highlight_on_success bip-editable', :inner_class => "custom-select bip-input" %></td>
                <td width = "100px"><%= army.armytype %></td>
                <td width = "100px">
                  <% if army.visible == true  %>
                    Sí, <%= army.visibility.reject(&:blank?).compact.join(', ') unless army.visibility.nil? %>
                  <% else %>
                    No, <%= army.visibility.reject(&:blank?).compact.join(', ') unless army.visibility.nil? %>
                  <% end %>
                </td>
                <td><%= link_to '', army_confirm_path(army), remote: true, class: 'fas fa-trash-alt white' %></td>
                <td><%= link_to '', edit_army_path(army), remote: true, class: 'fas fa-edit white' %></td>
                <% if army.notes.nil? || army.notes.empty? then %>
                  <td><%= link_to '', army_note_path(army), remote:true, class: 'fas fa-sticky-note white' %></td>
                <% else %>
                  <td><%= link_to '', army_note_path(army), remote:true, class: 'fas fa-sticky-note green' %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
      </table>
    <% end %>
  </div>
<% end %>