<div class="modal fade" id="armyModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark">
    <%= form_with(model: army, local: true) do |form| %>
      <div class="modal-header">
        <h5 class="modal-title" id="Title"><%= army.name.nil? ? 'Nuevo ejército' : army.army_title %></h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if army.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(army.errors.count, "error") %> prohibited this army from being saved:</h2>
            <ul>
              <% army.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if current_user.try(:is_master?) then %>
          <div class="form-group bottom-separator">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-hashtag"></i>&nbsp;</div>
              </div>
              <%= form.number_field :aid, class: "custom-control", readonly: true, value: army.aid.nil? ? @next_id : army.aid %>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-eye"></i>&nbsp;</div>
              </div>
              <%= form.select :visibility, options_for_select($active_houses[1..-1], army.visibility), {}, multiple: true, class: "custom-select" %>
            </div>
            <%= army.visibility.reject(&:blank?) %>
            <div class="form-group form-inline">
              <div class="input-group mb-3 ml-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">¿Visible?</div>
                </div>
                <div class="form-check checkbox-slider--a checkbox-slider-lg">
    	            <label>
	                  <%= form.check_box :visible, default: 'no'  %><span>&nbsp;</span>
	                </label>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-6 right-separator">
            <h3>Características</h3>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-flag"></i>&nbsp;</div>
                </div>
                    <%= form.select :kingdom, options_for_select($kingdoms, army.kingdom), {}, class: "custom-select", readonly: current_user.try(:is_master?) ? false : true %>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fab fa-fort-awesome"></i>&nbsp;</div>
                </div>
                <%= form.text_field :location, class: "form-control ui-autocomplete-input auto-source", data: {autocomplete_source: location_list_path}, readonly: current_user.try(:is_master?) ? false : true, value: army.location, placeholder: "Asentamiento" %>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-crown"></i>&nbsp;</div>
                </div>
                <%= form.text_field :lord, class: "form-control ui-autocomplete-input auto-source2", data: {autocomplete_source2: family_list_path}, readonly: current_user.try(:is_master?) ? false : true, value: army.lord, placeholder: "Señor" %>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-chess-knight"></i>&nbsp;</div>
                </div>
                <%= form.text_field :name, class: "form-control", value: army.name, placeholder: "Nombre" %>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-map-marked-alt"></i>&nbsp;</div>
                </div>
                <%= form.text_field :position, class: "form-control ui-autocomplete-input auto-source", data: {autocomplete_source: location_list_path}, placeholder: "Posición" %>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-bullseye"></i>&nbsp;</div>
                </div>
                <%= form.text_field :mission, class: "form-control", value: army.mission, placeholder: "Misión" %>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">Estado</div>
                </div>
                <%= form.select :status, options_for_select(@status, army.status), {}, class: "custom-select"  %>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">Tipo</div>
                </div>
                <%= form.select :armytype, options_for_select(@type, army.armytype), {}, class: "custom-select", readonly: current_user.try(:is_master?) ? false : true %>
              </div>
            </div>
          <div class="col-md-6">
            <h3>Rasgos</h3>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">Numero</div>
              </div>
              <%= form.number_field :num, class: "form-control", value: army.num %>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">Veteranía</div>
              </div>
              <%= form.number_field :vet, class: "form-control", value: army.vet %>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">Armadura</div>
              </div>
              <%= form.number_field :armour, class: "form-control", value: army.armour %>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">Moral</div>
              </div>
              <%= form.number_field :morale, class: "form-control", value: army.morale %>
            </div>
            <div class="form-group form-inline">
              <div class="input-group mb-0 ml-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">Infantería</div>
                </div>
                <div class="form-check checkbox-slider--a checkbox-slider-lg">
                  <label>
                    <%= form.check_box :infantry, default: army.infantry  %><span>&nbsp;</span>
                  </label>
                </div>
              </div> 
            </div>  
            <div class="form-group form-inline">
              <div class="input-group mb-0 ml-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">Caballería</div>
                </div>
                <div class="form-check checkbox-slider--a checkbox-slider-lg">
	                <label>
                    <%= form.check_box :cavalry, default: army.cavalry  %><span>&nbsp;</span>
                  </label>
                </div>
              </div> 
            </div>
            <div class="form-group form-inline">
              <div class="input-group mb-0 ml-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">Marino</div>
                </div>
                <div class="form-check checkbox-slider--a checkbox-slider-lg">
	                <label>
                    <%= form.check_box :marine, default: army.marine  %><span>&nbsp;</span>
                  </label>
                </div>
              </div> 
            </div>  
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">¿Embarcado?</div>
              </div>
              <%= form.select :boat, options_for_select(@boat, army.boat), {}, class: "custom-select"  %>
            </div>
            <div class="form-group form-inline">
              <div class="input-group mb-0 ml-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">Buque insignia</div>
                </div>
                <div class="form-check checkbox-slider--a checkbox-slider-lg">
                  <label>
                     <%= form.check_box :flagship, default: army.flagship  %><span>&nbsp;</span>
                  </label>
                </div>
              </div> 
            </div>
          </div>
        </div>                
        <div class="input-group mb-3">
          <%= form.text_area :notes, class: "form-control", rows: 5, value: @army.notes, placeholder: "Notas" %>
        </div>
        <div class="input-group mb-3">
          <%= form.submit class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>