<%= javascript_include_tag 'armies', 'data-turbolinks-track': 'reload' %>

<% provide(:title, $tools[:armies][:title]) %>
<% provide(:version, $tools[:armies][:version]) %>
<% provide(:icon, $tools[:armies][:icon]) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div class="card bg-secondary mb-3">
  <div class="card-body">
    <h5 class="card-title">Estadísticas</h5>
    <div class="card-text">
        <p>Dispones de un total de <%= @armies.length %> ejércitos. Con una fuerza total de <i class="fas fa-fist-raised"></i> <span id="count-strenght"><%= @total_str.sum %></span> y un total de <span id="count-number"><%= @total_num.sum * 200 %> hombres.</span></p>
        <p>De los cuales hay visibles <span id="count-visible"><%= @armies.length %></span>. Con una fuerza total de <i class="fas fa-fist-raised"></i> <span id ="count-visible-strenght"><%= @total_str.sum %></span></p>
        <p>Hay <span id="count-mobilize"><%= @armies.where('status = ?', "Movilizado").size %> ejércitos movilizados, y <span id="count-destroyed"></span><%= @armies.where('status = ?', "Aniquilado").size %> han sido aniquilados</span></p>
    </div>
  </div>
</div>

<% if current_user.try(:is_master?) then %>
  <nav>
    <div class="nav nav-pills mb-1" id="nav-tab" role="tablist">
      <% $active_houses.drop(1).each do |house| %>
        <a class="nav-item nav-link <%= house == "Master" ? 'active' : '' %>" id="nav-<%= house %>-tab" data-toggle="tab" href="#nav-<%= house %>" role="tab" aria-controls="nav-<%= house %>" aria-selected="false"><%= house %></a>
      <% end %>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <%= render 'army_table' %>
  </div>
<% else %>
  <%= render 'army_table' %>
<% end %>
<% if current_user.try(:is_master?) then %>
  <div><%= link_to '<i class="fas fa-plus-circle"></i> Añadir ejército'.html_safe, new_army_path, remote:true, class: "btn btn-primary"%></div>
<% end %>

<div class="version"><%= yield(:title) %> version <%= yield(:version) %></div>

<div id='army-content'></div>

<%= render 'csv' %>