<%= javascript_include_tag 'armies', 'data-turbolinks-track': 'reload' %>

<% provide(:title, $tools[:armies][:title]) %>
<% provide(:version, $tools[:armies][:version]) %>
<% provide(:icon, $tools[:armies][:icon]) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div>
  <p>Dispones de un total de <%= @armies.length %> ejércitos. Con una fuerza total de <%= @total_str.sum %> y un total de <%= @total_num.sum * 200 %> hombres.</p>
  <p>De los cuales hay visibles <span id="count-visible"><%= @armies.length %></span>.</p>
  <p>Hay <%= @armies.where('status = ?', "Movilizado").size %> ejércitos movilizados, y <%= @armies.where('status = ?', "Aniquilado").size %> han sido aniquilados</p>
</div>

<%= render 'army_table' %>

<% if current_user.try(:is_master?) then %>
  <div><%= link_to '<i class="fas fa-plus-circle"></i> Añadir ejército'.html_safe, new_army_path, remote:true, class: "btn btn-primary"%></div>
<% end %>

<div class="version"><%= yield(:title) %> version <%= yield(:version) %></div>

<div id='army-content'></div>

<%= render 'csv' %>