<% provide(:title, $tools[:armies][:title]) %>
<% provide(:version, $tools[:armies][:version]) %>
<% provide(:icon, $tools[:armies][:icon]) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div>
  <table class="table table-dark table-striped table-borderless table-hover table-sm table-responsive sortable">
    <caption>Lista de ejércitos</caption>
      <thead>
        <tr>
          <th scope="col">Ejército <i class="fas fa-sort"></i></th>
          <th scope="col">Rasgos <i class="fas fa-sort"></i></th>
          <th scope="col">Posición <i class="fas fa-sort"></i></th>
          <th scope="col">Misión <i class="fas fa-sort"></i></th>
          <th scope="col">Estado <i class="fas fa-sort"></i></th>
          <th scope="col">Visible <i class="fas fa-sort"></i></th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @armies.each do |army| %>
          <tr>
            <td width = "300px"><%= link_to army.army_title, edit_army_path(army), remote: true, class: "link-unstyled" %></td>
            <td width = "300px"><%= army.army_traits == '' ? 'n/a' : army.army_traits %></td>
            <td width = "180px"><%= best_in_place army, :position, :as => :input, :class => 'highlight_on_success bip-editable', :inner_class => "bip-input", :place_holder => 'n/a' %></td>
            <td width = "180px"><%= best_in_place army, :mission, :as => :input, :class => 'highlight_on_success bip-editable', :inner_class => "bip-input", :place_holder => 'n/a'  %></td>
            <td width = "160px"><%= best_in_place army, :status, :as => :select, :collection => @status, :class => 'highlight_on_success bip-editable', :inner_class => "custom-select bip-input" %></td>
            <% if current_user.try(:is_master?) then %>
              <td width = "100px"><%= army.visibility %></td>
              <td><%= link_to '', edit_army_path(army), class: 'fas fa-edit white' %></td>
              <td><%= link_to '', army, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'fas fa-trash-alt white' %></td>
            <% end %>
            <% if !army.notes.empty? then %>
              <td><%= link_to '', army_note_path(army), remote:true, class: 'fas fa-sticky-note green' %></td>
            <% else %>
              <td><%= link_to '', army_note_path(army), remote:true, class: 'fas fa-sticky-note white' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>

<div><%= link_to '<i class="fas fa-plus-circle"></i> Añadir ejército'.html_safe, new_army_path, remote:true, class: "btn btn-primary"%></div>

<div class="version"><%= yield(:title) %> version <%= yield(:version) %></div>

<div id='army-content'></div>