document.addEventListener("turbolinks:load", function() {
    if ($(".map.index").length !== 0 || $(".map.full").length !== 0) {

      $(window).resize(function(){
        if ($('#map-container').hasClass('fs') ) {
          $('#mapid').height(window.innerHeight);
        } else {
          $('#mapid').height(window.innerHeight - $("#header").height() - 102);
        }
      });

      var bounds = [[-30,1], [47,80]]; // mapa-fisico
      //var bounds = [[-13,1],[40,35]] // mapa-westeros

      var json_roads =
        {"type":"FeatureCollection","name":"Caminos_2","crs":{"type":"name","properties":{"name":"urn:ogc:def:crs:OGC:1.3:CRS84"}},"features":[{"type":"Feature","properties":{"id":"1","name":null,"size":1.0,"continent":"Westeros","name_es":null},"geometry":{"type":"MultiLineString","coordinates":[[[22.575065997553263,-0.690706335190365],[22.803313474969293,-0.510393245858114],[22.890539451696181,-0.308607820046328],[22.900730409305613,-0.166848862391605],[22.791995473980389,0.024611642022584],[22.713967375271622,0.326659277156438],[22.654074870902722,0.55346098961318],[22.45963512771462,0.776952436765569],[22.23031916680257,0.931219537742763],[21.950970632600615,1.131349830902373],[21.559048808496382,1.51493289279162],[21.060709234779967,1.950203660622949],[20.520872912730912,2.373825400934948],[20.099765420874231,2.678190221781854],[19.260001586662085,3.342509022948904]]]}},{"type":"Feature","properties":{"id":"2","name":"Roseroad","size":2.0,"continent":"Westeros","name_es":"Camino de las Rosas"},"geometry":{"type":"MultiLineString","coordinates":[[[19.036007800229118,3.838455196261759],[19.145295798760475,3.587310225037608],[19.283031714124427,3.288772058870109],[19.282419993270878,2.90363452874334],[19.200968198096319,2.557278169664578],[18.984160380506744,2.290437778785098],[18.492173409822705,1.965226052400738],[17.624942139464402,1.581642990511483],[16.299078947281991,1.221224019872743],[15.323443768128893,0.989590873247643],[14.362412723096435,0.812938960914039],[14.085137579203812,0.76027491233559],[14.026766243698924,0.710242339045693],[13.664030087347134,0.489265140348622],[13.030284159008373,0.214085987254159],[12.696733670409024,0.122359602889333],[12.325658751842251,-0.098617595807738],[12.033802074317819,-0.461353752159531],[11.666896536858532,-1.015881439455945],[11.3750398593341,-1.51620717235496],[10.966440510799899,-2.074904240758868],[10.816342790930193,-2.366760918283311],[10.732955168780355,-2.558552449227931],[10.645796721102741,-2.768021956222149]]]}},{"type":"Feature","properties":{"id":"3","name":null,"size":1.0,"continent":"Westeros","name_es":null},"geometry":{"type":"MultiLineString","coordinates":[[[10.630443302794514,-2.771860310799206],[10.550826506172458,-3.029361487844093],[10.442422597377668,-3.354573214228453],[10.283986115292977,-3.504670934098159],[10.142227157638253,-3.638091129537899],[9.950435626693629,-3.738156276117707],[9.814367219010407,-3.949801633008488],[9.758644095749004,-4.196788197941808],[9.608546375879296,-4.663758881980898],[9.366722271644768,-5.022325657225196],[8.799686441025877,-5.681087872208914],[8.366070805846723,-6.114703507388058],[8.036689698354872,-6.410729566019953],[7.744998547099284,-6.66719918602775]]]}},{"type":"Feature","properties":{"id":"4","name":"Oceanroad","size":2.0,"continent":"Westeros","name_es":"Camino del Mar"},"geometry":{"type":"MultiLineString","coordinates":[[[10.641958366525685,-2.76802195622215],[10.503970234398745,-2.754513361280033],[10.328856227884089,-2.733666455742572],[10.203774794659331,-2.629431928055276],[10.032830169252165,-2.521028019260484],[9.866054924952492,-2.320897726100874],[9.457455576418289,-1.88728209092173],[8.980159970981605,-1.393442924843242],[8.548530494985066,-1.061744631638341],[8.448465348405261,-0.995034533918471],[7.91061518553881,-0.786565478543878],[7.627097270229365,-0.653145283104145],[7.210159159480179,-0.427998703299579],[7.060061439610472,-0.277900983429873],[6.872439289773339,-0.036076879195342],[6.751527237656075,0.20991660614667],[6.709833426581156,0.572652762498464],[6.709833426581155,0.893695107775343],[6.67647837772122,1.135519212009875],[6.54305818228148,1.394020840674365],[6.468009322346627,1.777603902563619],[6.472178703454118,2.011089244583154],[6.559735706711447,2.232066443280225],[6.705664045473663,2.453043641977288],[6.864100527558353,2.674020840674366],[6.914133100848256,2.882489896048952],[6.930810625278222,3.170177192465886],[6.926641244170732,3.432848202237885],[6.96833505524565,3.766398690837228],[7.118432775115357,4.029069700609213],[7.185142872835226,4.241708137091301],[7.205989778372686,4.375128332531041],[7.297716162737507,4.55441172015319],[7.303737739239446,4.931177188691473],[7.368716160797935,5.225378320711664]]]}},{"type":"Feature","properties":{"id":"5","name":null,"size":1.0,"continent":"Westeros","name_es":null},"geometry":{"type":"MultiLineString","coordinates":[[[7.368716160797936,5.223459143423135],[7.42597389747845,5.389809110515559],[7.517369255312835,5.575181056533731],[7.679975118505019,5.752545266867352],[7.895127803442419,5.906217296677763],[8.074055609910593,5.982535556614589],[8.295388389761637,6.060484397654964],[8.464149793243921,6.273319896879316],[8.64469030509373,6.405880976515922],[8.843801198803472,6.545217525304903],[9.019670560131646,6.658558091420755],[9.170958422334927,6.710907850423705],[9.291870474452191,6.806803615896012],[9.408613145461963,6.790126091466046],[9.571219008654145,6.794295472573534],[9.667114774126459,6.848497426970926],[9.733824871846329,6.940223811335759],[9.788026826243723,6.90686876247582],[9.800534969566199,6.87768309472337],[9.879753210608545,6.956901335765718],[9.954802070543398,6.948562573550735],[10.059036598230694,6.969409479088196],[10.129916077058056,7.036119576808073],[10.204964936992909,7.102829674527936],[10.280013796927763,7.14452348560285],[10.36757080018509,7.132015342280379],[10.400925849045025,7.14452348560285],[10.425942135689978,7.21123358332272],[10.488482852302354,7.273774299935109],[10.606419681207299,7.309456951906586],[10.797017054256754,7.307129348795034],[10.847049627546657,7.407194495374842],[10.959622917448936,7.436380163127279],[10.980469822986393,7.523937166384616],[11.026399997062885,7.562387694049264],[11.088940713675264,7.649944697306587],[11.196087498242397,7.730751089107033],[11.407070802072305,7.807719126330414],[11.630893275755126,7.869995798306437],[11.783241199443793,7.888194491600421],[11.933089706924912,7.956558752946815]]]}},{"type":"Feature","properties":{"id":"6","name":"Riverroad","size":1.0,"continent":"Westeros","name_es":"Camino del Río"},"geometry":{"type":"MultiLineString","coordinates":[[[11.95803901167578,8.027568312622366],[12.079862329242504,8.141600641460196],[12.154911189177358,8.291698361329908],[12.292500765724588,8.52518370334945],[12.452990388885972,8.74715398163783],[12.64961335399896,9.002810335316562],[12.872044739665958,9.179776537225672],[13.093021938363025,9.292349827127952],[13.325447218897184,9.489630962361833],[13.564162003509606,9.559190218007432],[13.851849299926544,9.725965462307103],[14.047810211978661,9.78433679781199],[14.122993035701679,9.914844736371901],[14.272956791783223,10.034499664261505],[14.481425847157814,10.142903573056289],[14.644031710349998,10.184597384131211],[14.844162003509608,10.209613670776159],[15.240253208721333,10.155411716378767],[15.440383501880943,10.080362856443914],[15.765595228265308,9.97195894764913],[16.015561031972545,9.846282443257582],[16.307614772239248,9.734304224522093],[16.591132687548694,9.63840845904978],[16.83686212825436,9.56977918404138],[16.968296164511493,9.619149704270416],[17.063466777968827,9.661308505663934],[17.167039252595256,9.762035705304605],[17.311361903753589,9.867021697528564]]]}},{"type":"Feature","properties":{"id":"7","name":null,"size":2.0,"continent":"Westeros","name_es":null},"geometry":{"type":"MultiLineString","coordinates":[[[17.059949678956372,9.646316309347798],[17.327629021052797,9.358990391908012],[18.107463304553985,7.872246002125411],[18.500537462459103,6.279640919110182],[18.643041344699991,5.539087957301138],[18.794889743809151,4.499510455707895],[19.070552991422634,3.965120897304633]]]}},{"type":"Feature","properties":{"id":"8","name":null,"size":1.0,"continent":"Westeros","name_es":null},"geometry":{"type":"MultiLineString","coordinates":[[[19.078229700576749,3.953605833573462],[19.282566723805825,4.133304228296502],[19.424325681460552,4.291740710381191],[19.616117212405175,4.425160905820931],[19.986983966014368,4.621154757349338],[20.074749134229283,4.758711394420281],[20.24986314074394,4.8504377787851],[20.398142708217517,5.041658016420776],[20.591752391558277,5.209004554029406],[20.733511349212996,5.359102273899104],[20.883609069082706,5.550893804843732],[20.919099523622627,5.838278079439363],[20.916964117942641,6.126268397677613],[20.775205160287914,6.534867746211823],[20.600091153773256,6.868418234811166],[20.550058580483352,7.110242339045698],[20.32491200067879,7.502164163149935],[20.208169329669019,7.835714651749285],[20.171538174162347,8.230474397712257],[20.541719818268366,8.160926378133652],[20.85859278243775,8.302685335788375],[21.250514606541984,8.319362860218341],[21.625758906216252,8.294346573573392],[21.967648157030585,8.202620189208574],[22.351231218919839,8.119232567058731],[22.618071609799319,8.127571329273714],[22.801524378528963,8.352717909078279],[22.86823447624883,8.444444293443105],[23.060026007193457,8.511154391162968],[23.168429915988245,8.519493153377951],[23.26849506256805,8.67792963546264],[23.418592782437759,8.761317257612482],[23.668755648887274,8.844704879762318],[23.902240990906819,8.961447550772093],[23.918689438332009,9.183615118274119]]]}},{"type":"Feature","properties":{"id":"9","name":"Goldroad","size":2.0,"continent":"Westeros","name_es":"Camino Dorado"},"geometry":{"type":"MultiLineString","coordinates":[[[19.078229700576749,3.953605833573462],[18.790579753121776,3.84144755077206],[18.540416886672261,3.808092501912135],[18.323609069082686,3.799753739697145],[17.981719818268353,3.966528983996824],[17.606475518594088,4.233369374876304],[17.022762163545227,4.616952436765551],[16.647517863870959,4.858776541000076],[16.372338710776496,4.950502925364901],[16.122175844326986,4.942164163149918],[15.788625355727635,4.925486638719946],[14.979765420874216,4.658646247840473],[14.387713303610372,4.483532241325811],[13.628885942046855,4.158320514941451],[13.28699669123252,4.12496546608152],[12.661589525108743,4.233369374876311],[12.16126379220972,4.316756997026147],[11.836052065825356,4.541903576830705],[11.519179101655975,4.717017583345367],[11.270885857150851,5.05333866250605],[10.96882079546705,5.150633218524518],[10.768690502307441,5.200665791814416],[10.551882684717864,5.234020840674354],[10.476833824783013,5.325747225039173],[10.42680125149311,5.442489896048947],[10.193315909473565,5.509199993768817],[9.884781707519167,5.525877518198783],[9.501198645629916,5.417473609403999],[9.159309394815585,5.384118560544067],[8.83409766843122,5.259037127319303],[8.583934801981709,5.158971980739494],[8.267061837812326,5.083923120804648],[7.958527635857929,5.083923120804648],[7.624977147258581,5.158971980739494],[7.364877806220878,5.221539966134607]]]}},{"type":"Feature","properties":{"id":"10","name":"High Road","size":2.0,"continent":"Westeros","name_es":"Camino Alto"},"geometry":{"type":"MultiLineString","coordinates":[[[17.317119435619183,9.855506633797392],[17.556442945304187,9.928743967710155],[17.671333420919513,10.024174742863863],[17.772722673621061,10.171096161217381],[17.992966954423199,10.371092490588826],[18.196541476675325,10.421259027666895],[18.464572009888379,10.428935736821009],[18.715530893186923,10.362359602889306],[18.932338710776502,10.362359602889306],[19.077407933735579,10.490483373842084],[19.193488551684478,10.626551781525302],[19.230815918909631,10.774135252939695],[19.250669744855784,10.917084352927992],[19.398647341754721,11.007486631171073],[19.51605206582536,11.110728079267068],[19.611088715494532,11.231971157914762],[19.673960458637346,11.398084349153564],[19.752185620088387,11.570550143424748],[19.798750993557075,11.734508633039507],[19.833855010631936,11.818466688995269],[19.874224715585118,11.902382400417816],[19.937490584212473,11.937061555399485],[20.070047780909096,12.01204343344026],[20.174211443762335,12.106351048154481],[20.431987719464864,12.408913844306671]]]}},{"type":"Feature","properties":{"id":"11","name":"Kingsroad","size":2.0,"continent":"Westeros","name_es":"Camino Real"},"geometry":{"type":"MultiLineString","coordinates":[[[17.31711943561918,9.849749101931808],[17.2730589937829,10.019942262802262],[17.191523567027513,10.229601460510427],[16.614162815011024,11.012783055658026],[15.588495062568025,12.188548527970731],[15.229928287323727,12.622164163149883],[15.013120469734149,13.005747225039137],[14.921394085369327,13.431024098003306],[14.946410372014279,13.697864488882779],[14.953030902622981,14.155834357646016],[15.091479594973354,14.61181806722664],[15.202531716011618,15.02240357494345],[15.183205979338176,15.473358787613444],[14.983075686178566,15.976994785816821],[14.849655490738828,16.407962208752494],[14.816300441878893,16.832971154140331],[14.844626993828193,17.205173116086574],[14.913055323154348,17.775519212009819],[14.842640834645584,18.708136473966253],[14.784269499140697,19.396281419444676],[14.76891608083247,19.828178823017552],[14.783418721316631,20.192461467374311],[14.830991807126248,20.58502002539846],[14.836288231613208,20.995999658599814],[14.848331384617088,21.685736637776309],[14.762957603284638,22.628678821130336],[14.612859883414936,23.512587615918619],[14.429407114685292,24.513239081716659],[14.258265426535857,25.146985010055424],[14.15952438607779,25.570937776897853],[14.209556959367692,25.958225229575994],[14.335962498714187,26.35279526592371],[14.560155794776101,26.611139077566936]]]}},{"type":"Feature","properties":{"id":"12","name":null,"size":1.0,"continent":"Westeros","name_es":null},"geometry":{"type":"MultiLineString","coordinates":[[[14.521772249005533,26.687906169108071],[14.905843604318836,27.735705687489258],[15.165669339105071,28.273090860037104],[15.541307764263879,28.693071308514313],[16.625346852211763,29.871484993070496],[17.408134321874819,30.669625881041782],[17.97185988718936,31.257043626879536],[18.197668520054791,31.507868546389911],[18.393826494849179,31.779343308695491],[18.461198645629917,31.951414977482123],[18.444521121199951,32.101512697351829],[18.502892456704835,32.180730938394177],[18.486214932274869,32.318320514941405],[18.548755648887244,32.480926378133589],[18.652990176574544,32.806138104517956],[18.652990176574544,32.952066443280167],[18.769732847584315,33.22724559637463],[18.815596039766731,33.544118560544007],[18.819765420874223,34.036105531228046],[18.886475518594093,34.244574586602639],[18.894814280809079,34.428027355332283],[18.88199484634336,34.600700999923703],[18.853961295738596,34.890381022839563]]]}},{"type":"Feature","properties":{"id":"13","name":null,"size":2.0,"continent":"Essos","name_es":null},"geometry":{"type":"MultiLineString","coordinates":[[[31.127984202189584,4.632835403434626],[35.099403871197332,5.595320640864728],[38.313917673876539,8.763111859202681],[44.907583010450757,4.696170677807878],[42.072403857356292,2.611480124061941]]]}},{"type":"Feature","properties":{"id":"14","name":null,"size":2.0,"continent":"Essos","name_es":null},"geometry":{"type":"MultiLineString","coordinates":[[[42.376446382349769,-8.166816576855638],[42.622762163545232,-8.445718573006481],[43.364912000678785,-8.704220201670971],[43.637956159563991,-9.213402466100035],[46.950579753121787,-8.362330950856638],[47.184065095141321,-8.303959615351758],[47.359179101655982,-8.337314664211704],[47.584325681460541,-8.395685999716584],[51.36587160960967,-12.423244010345122],[51.903804508822105,-12.214839094179133],[53.99168084958891,-11.362641345798352],[56.533389437753868,-11.647649110280085],[55.869928740107866,-18.534558042182908],[52.889027859134998,-16.30121851067031],[53.004521121199957,-14.124415641410394],[51.895465746607123,-12.198161569749153]]]}},{"type":"Feature","properties":{"id":"15","name":null,"size":2.0,"continent":"Essos","name_es":null},"geometry":{"type":"MultiLineString","coordinates":[[[51.36587160960967,-12.423244010345122],[49.844130241721125,-13.157119224472282]]]}},{"type":"Feature","properties":{"id":"16","name":null,"size":2.0,"continent":"Essos","name_es":null},"geometry":{"type":"MultiLineString","coordinates":[[[56.533389437753868,-11.647649110280085],[57.54080776615109,-11.355946586035806],[59.131165127128341,-13.21752794414666]]]}},{"type":"Feature","properties":{"id":"17","name":null,"size":2.0,"continent":"Essos","name_es":null},"geometry":{"type":"MultiLineString","coordinates":[[[57.54080776615109,-11.355946586035806],[62.193837082112005,-10.130148540433204]]]}},{"type":"Feature","properties":{"id":"18","name":null,"size":1.0,"continent":"Essos","name_es":null},"geometry":{"type":"MultiLineString","coordinates":[[[67.130071566353365,-9.610544433000776],[67.18458626777975,-9.796598051833847],[67.122045551167375,-9.946695771703553],[67.026149785695068,-10.005067107208433],[67.038657929017532,-10.150995445970658],[66.963609069082693,-10.284415641410398],[66.813511349212973,-10.447021504602574],[66.750970632600598,-10.538747888967393],[66.755140013708086,-10.701353752159577],[66.709276821525677,-10.847282090921794],[66.584195388300927,-11.009887954113978],[66.396573238463787,-11.114122481801267],[66.171426658659229,-11.205848866166093],[65.849872755402629,-11.245834884945147],[65.696117212405156,-11.389301634895737],[65.541850111427962,-11.501874924798017],[65.541850111427962,-11.693666455742644],[65.696117212405156,-11.893796748902254],[65.771166072340009,-12.085588279846874],[65.729472261265087,-12.285718573006484],[65.800351740092452,-12.498357009488565],[65.896247505564773,-12.615099680498346],[66.038006463219489,-12.886109452485307],[66.042175844326991,-13.115425413397361],[66.004651414359557,-13.440637139781721],[65.987973889929592,-13.66578371958628],[65.887908743349783,-13.878422156068368],[65.771166072340009,-14.032689257045575],[65.796182358984964,-14.270343980172598],[65.633576495792781,-14.466304892224713],[65.621068352470317,-14.578878182126999],[65.683609069082692,-14.687282090921798],[65.662762163545239,-14.870734859651435],[65.575205160287908,-15.012493817306151],[65.379244248235793,-15.108389582778472],[65.1707751928612,-15.170930299390847],[64.915421068577288,-15.23594358768942]]]}},{"type":"Feature","properties":{"id":"19","name":null,"size":1.0,"continent":"Essos","name_es":null},"geometry":{"type":"MultiLineString","coordinates":[[[52.298157596982577,-20.768166689115962],[52.961255792025682,-21.155521080279755]]]}},{"type":"Feature","properties":{"id":"20","name":null,"size":1.0,"continent":"Essos","name_es":null},"geometry":{"type":"MultiLineString","coordinates":[[[53.854140490301539,-21.746400660021138],[54.7535905172412,-22.225669652478032],[55.370731411637749,-22.15345103717631]]]}},{"type":"Feature","properties":{"id":"21","name":null,"size":1.0,"continent":"Essos","name_es":null},"geometry":{"type":"MultiLineString","coordinates":[[[55.377296740301546,-19.967196592133202],[54.733894531249817,-22.219104323814239],[54.083926993534305,-24.648275929417693]]]}},{"type":"Feature","properties":{"id":"22","name":"The Boneway","size":1.0,"continent":"Westeros","name_es":"Sendahueso"},"geometry":{"type":"MultiLineString","coordinates":[[[18.285957415990751,-1.825110443221345],[18.186160196987274,-2.040058299536525],[18.094039687137911,-2.208945900927023],[18.109393105446138,-2.293389701622272],[18.032626013905002,-2.400863629779862],[18.032626013905002,-2.500660848783338],[18.024949304750891,-2.631164904403269],[18.124746523754364,-2.723285414252631],[18.209190324449615,-2.807729214947881],[18.209190324449615,-2.884496306489016],[18.117069814600249,-3.030353780417173],[18.063332850521455,-3.137827708574763],[18.001919177288549,-3.252978345886467],[17.963535631517981,-3.398835819814624],[17.595053592120529,-3.721257604287394],[17.441519409038257,-3.997619133835482],[17.349398899188895,-4.189536862688321],[17.518286500579393,-4.158830026071866],[17.548993337195849,-4.350747754924706],[17.679497392815779,-4.496605228852863],[17.794648030127483,-4.719229794322157],[17.725557647740459,-4.872763977404428],[17.472226245654713,-5.087711833719607],[17.303338644264215,-5.187509052723083],[17.326368771726557,-5.402456909038262],[17.257278389339533,-5.486900709733512],[17.119097624565491,-5.517607546349966],[17.065360660486693,-5.87073616743919],[16.896473059096195,-6.078007314600256],[16.650818366164561,-6.377398971610685],[16.543344438006972,-6.438812644843593],[16.520314310544631,-6.600023537079978],[16.635464947856335,-6.791941265932817],[16.858089513325627,-6.922445321552747]]]}},{"type":"Feature","properties":{"id":"23","name":"Princes Pass","size":2.0,"continent":"Westeros","name_es":"Paso del Príncipe"},"geometry":{"type":"MultiLineString","coordinates":[[[13.879526361529567,-7.344664325028991],[13.664578505214388,-7.029919249710336],[13.549427867902686,-6.553963282155294],[13.725992178447298,-6.124067569524936],[13.910233198146022,-6.016593641367345],[13.79508256083432,-5.740232111819258],[13.894879779837796,-5.333366526651239],[13.994676998841271,-4.926500941483221],[14.079120799536522,-4.58104902954811],[14.010030417149499,-4.366101173232931],[13.79508256083432,-4.21256699015066]]]}}]}

      var map = L.map('mapid', {
          //crs: L.CRS.Simple,
          //drawControl: true,
          minZoom: 5,
          maxZoom: 8,
          maxBounds: bounds,
          maxBoundsViscosity: 1.0,
          fullscreenControl: true,
          fullscreenControlOptions: {
            position: 'topleft' }
      });

      var params = new URLSearchParams(document.location.search.substring(1));
      var x = params.get("x");
      var y = params.get("y");

      if (x == null || y == null) {
        map.setView( [13.5, 18], 5);
      } else {
        map.setView( [y, x], 7);
      }

      //var image = L.imageOverlay('/assets/mapa-fisico.png', bounds, {opacity: 1}).addTo(map);

      L.tileLayer('/assets/tiles/{z}/{x}/{y}.png', {
        tms: false,
        attribution: '&copy; Ser Mountain Goat &mdash; <a href="http://www.sermountaingoat.co.uk/map/index.php">http://www.sermountaingoat.co.uk/map</a>',
      }).addTo(map);

      var layer_roads = new L.geoJson(json_roads, {
        style: {
          color: 'rgba(104,56,28,1.0)',
          weight: 2.0
        }
      });
      map.addLayer(layer_roads);

      /* Debug grid

      L.GridLayer.GridDebug = L.GridLayer.extend({
        createTile: function (coords) {
          const tile = document.createElement('div');
          tile.style.outline = '1px solid green';
          tile.style.fontWeight = 'bold';
          tile.style.fontSize = '14pt';
          tile.innerHTML = [coords.z, coords.x, coords.y].join('/');
          return tile;
        },
      });

      L.gridLayer.gridDebug = function (opts) {
        return new L.GridLayer.GridDebug(opts);
      };

      map.addLayer(L.gridLayer.gridDebug());

      */

      var main = new L.layerGroup.collision({margin:0});
      var other = new L.FeatureGroup();
      var ruins = new L.FeatureGroup();
      var the_wall = new L.FeatureGroup();

      <% Location.where('visibility != 99').where('location_type != ?','Ruinas').order(:visibility).each do |location| %>
        main.addLayer(
          L.marker(
            [<%= location.y %>,<%= location.x %>],
              { icon: L.divIcon({
                html: "<div style='float: left'><img src='/assets/<%= location.icon %>' width='24' height='24'></div><div><%= location.name_es %></div>",
                iconSize: [120,24],
                iconAnchor: [12, 12]
                })
              })
              .bindPopup('<p><%= location.name_es %></p><p><%= location.family.name %></p>')

              /*{ icon: L.icon({
                iconUrl: '/assets/' + '<%= location.icon %>',
                iconSize: [24],iconAnchor: [12,12]
                })
              })
            .bindPopup('<p><%= location.name_es %></p><p><%= location.family.name %></p>')
            .bindTooltip("<%= location.name_es %>", {permanent: true, className: "locationLabel", offset: [0, 0] })*/
          );
      <% end %>

      <% Location.where(visibility: 99).each do |location| %>
        other.addLayer(
          L.marker(
            [<%= location.y %>,<%= location.x %>],
              { icon: L.icon({
                iconUrl: '/assets/' + '<%= location.icon %>',
                iconSize: [18],iconAnchor: [9,9]
                })
              })
              <% if location.name_es != '' %>
                .bindPopup('<p><%= location.name_es %></p><p><%= location.family.name %></p>')
              <% end %>
          );
      <% end %>

      <% Location.where(location_type: "Ruinas").where('kingdom != ?','El Muro').each do |location| %>
        ruins.addLayer(
          L.marker(
            [<%= location.y %>,<%= location.x %>],
              { icon: L.icon({
                iconUrl: '/assets/' + '<%= location.icon %>',
                iconSize: [18],iconAnchor: [9,9]
                })
              })
              .bindPopup('<p><%= location.name_es %></p><p><%= location.family.name %></p>')
          );
      <% end %>

      <% Location.where(location_type: "Ruinas").where(kingdom: 'El Muro').each do |location| %>
        the_wall.addLayer(
          L.marker(
            [<%= location.y %>,<%= location.x %>],
              { icon: L.icon({
                iconUrl: '/assets/' + '<%= location.icon %>',
                iconSize: [12],iconAnchor: [6,6]
                })
              })
              .bindPopup('<%= location.name_es %>')
          );
      <% end %>

      main.addTo(map);
      other.addTo(map);
      ruins.addTo(map);
      the_wall.addTo(map);

      /*

      map.on('zoom', function () {
        if (map.getZoom() == 7 && map.hasLayer(locations_small)) {
          map.removeLayer(locations_small);
          locations_big.addTo(map);
        }
        if (map.getZoom() != 7 && map.hasLayer(locations_big)) {
          map.removeLayer(locations_big);
          locations_small.addTo(map);
        }
      }); */

      var overlays = {
        "Asentamientos": main,
        "Caminos": layer_roads,
        "Otros lugares": other,
        "Ruinas": ruins,
        "El Muro": the_wall
      }

      L.control.layers(null, overlays).addTo(map);

      var drawnItems = new L.FeatureGroup();
      map.addLayer(drawnItems);

      // Set the button title text for the polygon button
      L.drawLocal.draw.toolbar.buttons.polyline = 'Dibuja tu ruta';
      L.drawLocal.draw.toolbar.buttons.marker = 'Añade tu marcador';

      // Set polyline colours array
      var colours = ['DarkRed','LimeGreen','SteelBlue','DarkMagenta','Gold','Black'];

      var drawControl = new L.Control.Draw({
        draw: {
      		polyline: {
      		  showLength: false,
      			shapeOptions: {
              className: 'route',
              showMeasurements: true,
              color: colours[0],
      				weight: 10
      			}
      		},
          polygon: false,
          rectangle: false,
          circle: false,
          marker: {icon: new L.DivIcon({
            iconAnchor: [10, 35], // point of the icon which will correspond to marker's location
            className: 'markerClass',
            html: 'A'
          })}
        },
        edit: {
          featureGroup: drawnItems,
          edit: false
        }
      });

      map.addControl(drawControl);

      map.on('draw:created', function (e) {
          var type = e.layerType,
              layer = e.layer;
          drawnItems.addLayer(layer);
          drawControl.setDrawingOptions({
            polyline: {
        		  showLength: false,
        			shapeOptions: {
                className: 'route',
                showMeasurements: true,
        				color: colours[($(".route").length -1) % colours.length],
        				weight: 10
        			}
            },
            marker: {
              icon: new L.DivIcon({
                iconAnchor: [10, 35], // point of the icon which will correspond to marker's location
                className: 'markerClass',
                html: String.fromCharCode(64 + Math.max($('.markerClass').length,1))
              })
            }
          });
          map.removeControl(drawControl);
          map.addControl(drawControl);
      });

      // Saving as image

      // Custom image size
      var fullMap = {
	      width: 1080, // change depending on base map 1080
	      height: 1700, // change depending on base map 1700
	      className: 'fullMap',
	      name: 'Mapa completo'
      }

      var printer = L.easyPrint({
        		title: 'Exportar mapa',
        		sizeModes: ['Current',fullMap],
        		defaultSizeTitles: {Current: 'Zona visible'},
        		filename: 'westeros',
        		exportOnly: true,
        		hideControlContainer: true
      }).addTo(map);

      map.on('easyPrint-start', e => {
        $('#printing').removeClass('invisible')
        if (e.event.target.className == 'fullMap') {
          map.setView( [13.5, 18], 5);
        }
      });

      map.on('easyPrint-finished', e => {
        $('#printing').addClass('invisible')
      });

      // Debugging options
      map.on('click', function(e){
        var coord = e.latlng;
        var lat = coord.lat;
        var lng = coord.lng;
        console.log("You clicked the map at latitude: " + lat + " and longitude: " + lng);
      });
  }
});
