<div class="modal fade" id="systemModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark">
    <%= form_with(model: system, local: true) do |form| %>
      <div class="modal-header">
        <h5 class="modal-title" id="Title"><%= system.sector.nil? ? 'Nuevo sistema' : system.sector.name %></h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if system.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(system.errors.count, "error") %> prohibited this system from being saved:</h2>
            <ul>
              <% system.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-flag"></i>&nbsp;</div>
      </div>
        <%= form.text_field "sector_name]", class: "custom-control", value: system.sector.nil? ? 'Nombre del sistema' : system.sector.name %>
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-street-view"></i>&nbsp;</div>
      </div>
      <%= form.number_field :slots, class: "form-control", value: system.slots %>
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-street-view"></i>&nbsp;disponibles</div>
      </div>
      <%= form.text_field :slots_free, class: "form-control", value: system.slots_free, disabled: true %>
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-industry"></i>&nbsp;</div>
      </div>
      <%= form.number_field :ic_slots, class: "form-control", value: system.ic_slots %>
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-percentage"></i>&nbsp;</div>
      </div>
      <%= form.text_field :ic_bonus, class: "form-control", value: sprintf("%.0f", system.ic_bonus * 100) %>
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-vial"></i>&nbsp;</div>
      </div>
      <%= form.number_field :rp_slots, class: "form-control", value: system.rp_slots %>
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-percentage"></i>&nbsp;</div>
      </div>
      <%= form.text_field :rp_bonus, class: "form-control", value: sprintf("%.0f", system.rp_bonus * 100) %>
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-chess"></i>&nbsp;</div>
      </div>
      <%= form.number_field :cp_slots, class: "form-control", value: system.cp_slots %>
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-percentage"></i>&nbsp;</div>
      </div>
      <%= form.text_field :cp_bonus, class: "form-control", value: sprintf("%.0f", system.cp_bonus * 100) %>
    </div>
  </div>

  <div class="form-group form-inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>

      </div>
    </div>
  </div>
</div>
