<% provide(:title, $ap_tools[:systems][:title]) %>
<% provide(:version, $ap_tools[:systems][:version]) %>
<% provide(:icon, $ap_tools[:systems][:icon]) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div>
  <table class="table table-dark table-striped table-borderless table-hover table-sm table-responsive sortable">
    <caption>Lista de sistemas</caption>
      <thead>
        <tr>
          <th scope="col">Sistema <i class="fas fa-sort"></i></th>
          <th scope="col">Slots <i class="fas fa-sort"></i></th>
          <th scope="col">libres <i class="fas fa-sort"></i></th>
          <th scope="col">IC <i class="fas fa-sort"></i></th>
          <th scope="col">p/d <i class="fas fa-sort"></i></th>
          <th scope="col">RP <i class="fas fa-sort"></i></th>
          <th scope="col">p/d <i class="fas fa-sort"></i></th>
          <th scope="col">CP <i class="fas fa-sort"></i></th>
          <th scope="col">p/d <i class="fas fa-sort"></i></th>
          <th scope="col">Rasgos <i class="fas fa-sort"></i></th>
          <th scope="col">Civilización <i class="fas fa-sort"></i></th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @systems.each do |system| %>
          <tr>
            <td><%= system.name %></td>
            <td><%= system.slots %></td>
            <td><%= system.free_slots %></td>
            <td><%= system.ic %></td>
            <td><%= system.ic %></td>
            <td><%= system.rp %></td>
            <td><%= system.rp %></td>
            <td><%= system.cp %></td>
            <td><%= system.cp %></td>
            <td><%= system.traits %></td>
            <td><%= system.user.house %></td>
            <% if current_user.try(:is_master?) then %>
              <td><%= link_to '', '', remote: true, class: 'fas fa-edit white' %></td>
              <td><%= link_to '', '', remote: true, class: 'fas fa-delete white' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>

<div class="version"><%= yield(:title) %> version <%= yield(:version) %></div>

<!-- Modal -->

<div id='user-content'></div>
