<script>
$(document).ready(function(){
    var step_id = 0;
    $("#add_step").click(function(){
        step_id++;
        $('<div/>', {
            'id' : 'step' + step_id, 'class' : 'form-group form-inline container', html: `<div class="input-group mb-2">
                                                                                <div class="input-group-prepend">
                                                                                     <div class="input-group-text">Distancia</div>
                                                                                </div>
                                                                                <%=j number_field_tag("hex", nil, {class: "custom-control", placeholder: "en hexágonos", id: nil, min: 0}) %>
                                                                            </div>
                                                                            <div class="input-group mb-2">
                                                                                <div class="input-group-prepend">
                                                                                     <div class="input-group-text">Tipo de terreno</div>
                                                                                </div>
                                                                                <%=j select_tag("terrain", options_for_select(@terrain_type), {id: nil, class: "custom-select"}) %>
                                                                            </div>
                                                                            <div class="input-group mb-2">
                                                                                <div class="input-group-prepend">
                                                                                     <div class="input-group-text">Tipo de marcha</div>
                                                                                </div>
                                                                                <%=j select_tag("speed", options_for_select(@walking_type), {id: nil, class: "custom-select"}) %>
                                                                            </div>
                                                                            <div class="input-group mb-2">
                                                                                <div class="input-group-prepend">
                                                                                     <div class="input-group-text">Obstáculo</div>
                                                                                </div>
                                                                                <%=j select_tag("obstacle", options_for_select(@obstacle_type), {id: nil, class: "custom-select"}) %>
                                                                            </div>`
                        }).hide().fadeIn("normal").css("display", "").insertAfter('#step' + parseInt(step_id - 1));
        $('form [name="hex"]').attr("name","step["+step_id+"][hex]")
        $('form [name="terrain"]').attr("name","step["+step_id+"][terrain]")
        $('form [name="speed"]').attr("name","step["+step_id+"][speed]")
        $('form [name="obstacle"]').attr("name","step["+step_id+"][obstacle]")        
        if (step_id == 9) $("#add_step").prop( "disabled", true );
        if (step_id != 0) $("#rem_step").prop( "disabled", false );        
    });
    $("#rem_step").click(function(){
        $("#step" + step_id).fadeOut("normal", function() {
            $(this).remove();
        });
        step_id--;
        if (step_id != 9) $("#add_step").prop( "disabled", false );
        if (step_id == 0) $("#rem_step").prop( "disabled", true );
    });
});
</script>
<script>
$(document).ready(function(){
    var step_id = 0;
    $("#add_step_sea").click(function(){
        step_id++;
        $('<div/>', {
            'id' : 'step_sea' + step_id, 'class' : 'form-group form-inline container', html: `<div class="input-group mb-2">
                                                                                <div class="input-group-prepend">
                                                                                     <div class="input-group-text">Distancia</div>
                                                                                </div>
                                                                                <%=j number_field_tag("hex", nil, {class: "custom-control", placeholder: "en hexágonos", id: nil, min: 0}) %>
                                                                            </div>
                                                                            <div class="input-group mb-2">
                                                                                <div class="input-group-prepend">
                                                                                     <div class="input-group-text">Tipo de terreno</div>
                                                                                </div>
                                                                                <%=j select_tag("terrain", options_for_select(@sea_type), {id: nil, class: "custom-select"}) %>
                                                                            </div>
                                                                            <div class="input-group mb-2">
                                                                                <div class="input-group-prepend">
                                                                                     <div class="input-group-text">Velocidad</div>
                                                                                </div>
                                                                                <%=j select_tag("speed", options_for_select(@sailing_type), {id: nil, class: "custom-select"}) %>
                                                                            </div>
                                                                            <div class="input-group mb-2">
                                                                                <div class="input-group-prepend">
                                                                                    <div class="input-group-text">¿Embarcar?</div>
                                                                                </div>
                                                                                <div class="form-check checkbox-slider--a checkbox-slider-lg">
	                                                                               <label>
		                                                                                <input name="board" value="0" type="hidden">
		                                                                                <%=j check_box_tag 'board', '1', false, class: "custom-checkbox", id: nil %><span>&nbsp;</span>
	                                                                               </label>
                                                                                </div>
                                                                            </div>`
                        }).hide().fadeIn("normal").css("display", "").insertAfter('#step_sea' + parseInt(step_id - 1));
        $('form [name="hex"]').attr("name","step_sea["+step_id+"][hex]")
        $('form [name="terrain"]').attr("name","step_sea["+step_id+"][terrain]")
        $('form [name="speed"]').attr("name","step_sea["+step_id+"][speed]")
        $('form [name="board"]').attr("name","step_sea["+step_id+"][board]")
        if (step_id == 9) $("#add_step_sea").prop( "disabled", true );
        if (step_id != 0) $("#rem_step_sea").prop( "disabled", false );
    });
    $("#rem_step_sea").click(function(){
        $("#step_sea" + step_id).fadeOut("normal", function() {
            $(this).remove();
        });
        step_id--;
        if (step_id != 9) $("#add_step_sea").prop( "disabled", false );
        if (step_id == 0) $("#rem_step_sea").prop( "disabled", true );
    });
});
</script>
<script>
$(document).ready(function(){
    $("#path-type").click(function(){
        if (this.checked) {
            $(".land").hide();
            $(".sea").show();
        }
        else {
            $(".sea").hide();
            $(".land").show();
        }
    });
});
</script>
<script>
  $( function() {
    $( ".auto-source" ).autocomplete({
      source: $('.auto-source').data('autocomplete-source')
    });
  } );
</script>

<% provide(:title, "Calculadora de rutas") %>
<% provide(:version, "9.03") %>

<div style="float: right; padding-top: 10px">
    <div class="form-check checkbox-slider--a checkbox-slider--path checkbox-slider-lg">
	    <label>
		    <input id="path-type" type="checkbox"><span></span>
	    </label>
    </div>
</div>

<div class="tool-title">
    <i class="fas fa-map-signs white"></i>
    <%= yield(:title) %> <span class="land">— Tierra</span><span class="sea">— Mar</span>
</div>

<div id="result" class="card text-white bg-primary mb-3" style="display: none; max-width: 480px;"></div>

<div class="land">
  <%= form_with url: travel_calculator_calculate_path, remote: true do |form| %>
    <div class="form-group form-inline">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Origen</div>
            </div>
          <%= form.text_field :from, class: "custom-control ui-autocomplete-input auto-source", data: {autocomplete_source: travel_calculator_location_list_path}, placeholder: "origen"%>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Destino</div>
            </div>
          <%= form.text_field :to, class: "custom-control ui-autocomplete-input auto-source", data: {autocomplete_source: travel_calculator_location_list_path}, placeholder: "destino" %>
        </div>
    </div>
    <div class="form-group form-inline">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Nº Ejércitos</div>
            </div>
          <%= form.number_field :size, class: "custom-control", placeholder: "0 para personajes", min: 0 %>
        </div>          
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">¿Carretas?</div>
            </div>
            <div class="form-check checkbox-slider--a checkbox-slider-lg">
	            <label>
		            <%= form.check_box :carts, {class: "custom-checkbox"} %><span>&nbsp;</span>
	            </label>
            </div>
        </div>
    </div>
    
    <div id="step0" class="form-group form-inline container">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Distancia</div>
            </div>
          <%= form.number_field "step[0][hex]", class: "custom-control", placeholder: "en hexágonos", min: 0 %>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Tipo de terreno</div>
            </div>
          <%= form.select("step[0][terrain]", options_for_select(@terrain_type), {}, {class: "custom-select"}) %>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Tipo de marcha</div>
            </div>
            <%= form.select("step[0][speed]", options_for_select(@walking_type), {}, {class: "custom-select"}) %>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Obstáculo</div>
            </div>
          <%= form.select("step[0][obstacle]", options_for_select(@obstacle_type), {}, {class: "custom-select"}) %>
        </div>
    </div>
        <div class="form-group form-inline">
            <button type="button" id="add_step" class="btn btn-success"><i class="fas fa-plus-circle"></i> Añadir etapa</button>
            <button type="button" disabled id="rem_step" class="btn btn-danger"><i class="fas fa-times-circle"></i> Eliminar etapa</button> 
        </div>
        <div class="form-group form-inline">
          <%= form.submit "Calcular", class: "btn btn-primary", id: "calculate" %>
        </div>
    <% end %>
</div>

<div class="sea">
  <%= form_with url: travel_calculator_calculate_path, remote: true do |form| %>
    <div class="form-group form-inline">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Origen</div>
            </div>
          <%= form.text_field :from, class: "form-control", placeholder: "origen" %>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Destino</div>
            </div>
          <%= form.text_field :to, class: "custom-control", placeholder: "destino" %>
        </div>
    </div>
    <div class="form-group form-inline">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Nº Flotas</div>
            </div>
          <%= form.number_field :size, class: "custom-control", placeholder: "0 para barcos individuales", min: 0 %>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Tipo de flotas</div>
            </div>
          <%= form.select("fleet_type", options_for_select(@fleet_type), {}, {class: "custom-select"}) %>
        </div>
    </div>
    
    <div id="step_sea0" class="form-group form-inline container">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Distancia</div>
            </div>
          <%= form.number_field "step_sea[0][hex]", class: "custom-control", placeholder: "en hexágonos", min: 0 %>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Tipo de terreno</div>
            </div>
          <%= form.select("step_sea[0][terrain]", options_for_select(@sea_type), {}, {class: "custom-select"}) %>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Velocidad</div>
            </div>
            <%= form.select("step_sea[0][speed]", options_for_select(@sailing_type), {}, {class: "custom-select"}) %>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">¿Embarcar?</div>
            </div>
            <div class="form-check checkbox-slider--a checkbox-slider-lg">
	            <label>
		            <%= form.check_box "step_sea[0][board]", {class: "custom-checkbox"} %><span>&nbsp;</span>
                </label>
            </div>
        </div>
    </div>
        <div class="form-group form-inline">
            <button type="button" id="add_step_sea" class="btn btn-success"><i class="fas fa-plus-circle"></i> Añadir etapa</button>
            <button type="button" disabled id="rem_step_sea" class="btn btn-danger"><i class="fas fa-times-circle"></i> Eliminar etapa</button> 
        </div>
        <div class="form-group form-inline">
          <%= form.submit "Calcular", class: "btn btn-primary", id: "calculate_sea" %>
        </div>
    <% end %>
</div>

<div class="version"><%= yield(:title) %> version <%= yield(:version) %></div>