<%= javascript_include_tag 'map', 'data-turbolinks-track': 'reload' %>

<% provide(:title, $tools[:map][:title]) %>
<% provide(:version, $tools[:map][:version]) %>
<% provide(:icon, $tools[:map][:icon]) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %></span>
</div>

<div id="mapid" style="height: 800px; width: 960px;">
    <div class="loader mx-auto mt-5 invisible" id="printing"></div>
</div>

<div class="version"><%= yield(:title) %> version <%= yield(:version) %></div>
