<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lid %>
    <%= form.number_field :lid, id: :location_lid %>
  </div>

  <div class="field">
    <%= form.label :name_es %>
    <%= form.text_field :name_es, id: :location_name_es %>
  </div>

  <div class="field">
    <%= form.label :name_es %>
    <%= form.text_field :name_es, id: :location_name_es %>
  </div>

  <div class="field">
    <%= form.label :hid %>
    <%= form.number_field :hid, id: :location_hid %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :location_type %>
  </div>

  <div class="field">
    <%= form.label :kingdom %>
    <%= form.text_field :kingdom, id: :location_kingdom %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
