<% provide(:title, $tools[:locations][:title]) %>
<% provide(:version, $tools[:locations][:version]) %>
<% provide(:icon, $tools[:locations][:icon]) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<table id="location_list" class="table table-dark table-striped table-borderless table-hover table-sm table-responsive sortable">
  <caption>Lista de lugates</caption>
    <thead>
      <tr id="table_title">
        <th scope="col">Nombre <i class="fas fa-sort"></i></th>
        <th scope="col">Casa <i class="fas fa-sort"></i></th>
        <th scope="col">Tipo <i class="fas fa-sort"></i></th>
        <th scope="col">Reino <i class="fas fa-sort"></i></th>
        <th scope="col">Descripción <i class="fas fa-sort"></i></th>
        <th scope="col" colspan="2"></th>
      </tr>
    </thead>
    <tbody id="table_body">
      <% @locations.each do |location| %>
        <tr>
          <td width = "300px"><%= location.name_es %></td>
          <td width = "300px"></td>
          <td width = "180px"><%= location.location_type %></td>
          <td width = "180px"><%= location.kingdom %></td>
          <td width = "180px"><%= location.description %><</td>
          <td><%= link_to '', '', remote: true, class: 'fas fa-trash-alt white' %></td>
          <td><%= link_to '', edit_location_path(location), remote: true, class: 'fas fa-edit white' %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<div class="version"><%= yield(:title) %> version <%= yield(:version) %></div>
