<p id="notice"><%= notice %></p>

<p>
  <strong>Lid:</strong>
  <%= @location.lid %>
</p>

<p>
  <strong>Name es:</strong>
  <%= @location.name_es %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @location.name_en %>
</p>

<p>
  <strong>Type:</strong>
  <%= @location.location_type %>
</p>

<p>
  <strong>Kingdom:</strong>
  <%= @location.kingdom %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
