<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
      <%= render 'layouts/login' %>
</div>

<header id="header" class="bg-black">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark">
      <%= link_to image_tag("tools.png", :alt => "Valar Tools", id: "logo"), root_path, class: "navbar-brand" %>
      <div class="navbar-collapse justify-content-stretch">
        <ul class="navbar-nav ml-auto">
          <% if current_user.nil? %>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#loginModal"><i class="fas fa-user"></i>
              Iniciar sesión
            </button>
          <% end %>
          <li class="nav-item">
            <%= link_to image_tag("valar-circle.png", :alt => "Valar", class: "nav-icon"), "https://www.valar.es", class: "nav-link" %></li>
          </li>
          <li class="nav-item dropdown">
          <%= link_to "", "#", id: "navbarDropdown", class: "nav-link dropdown-toggle fas fa-bars nav-text-icon", "role": "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false" %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if current_user %>
                <a href="/users/<%= current_user.id %>" class="dropdown-item"><i class="fas fa-user"></i> <%= current_user.house %></a>
                <div class="dropdown-divider"></div>
                <% if current_user.is_master? %>
                  <% $master_tools.each do |k, v|  %>
                    <%= link_to $master_tools[k][:title], $master_tools[k][:path], class: "dropdown-item" %>
                  <% end %>
                  <div class="dropdown-divider"></div>
                <% end %>
              <% end %>
              <% $tools.each do |k, v|  %>
                <%= link_to $tools[k][:title], $tools[k][:path], class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <% $static_pages.each do |key, value|  %>
                <%= link_to key, value, class: "dropdown-item" %>
              <% end %>
              <% if current_user %>
                <a href="<%= logout_path %>" class="dropdown-item"><i class="fas fa-sign-out-alt"></i></i>  Cerrar sesión</a>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
