<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="Login">Iniciar sesi칩n</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with url: sessions_path, remote: true do |form| %>
        <div class="modal-body">
          <div class="form-group form-inline">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Jugador</div>
                </div>
                <%= form.text_field :player, class: "custom-control" %>
              </div>
          </div>
          <div class="form-group form-inline">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Contrase침a</div>
                </div>
                <%= form.password_field :password, class: "custom-control" %>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit 'Login', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<header class="bg-black">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark">
      <%= link_to image_tag("tools.png", :alt => "Valar Tools", id: "logo"), root_path, class: "navbar-brand" %>
      <div class="navbar-collapse justify-content-stretch">
        <ul class="navbar-nav ml-auto">
          <% if current_user.nil? %>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#loginModal"><i class="fas fa-user"></i>
              Iniciar sesi칩n
            </button> 
          <% end %>
          <li class="nav-item">
            <%= link_to image_tag("valar-circle.png", :alt => "Valar", class: "nav-icon"), "https://www.valar.es", class: "nav-link" %></li>
          </li>
          <li class="nav-item dropdown">
          <%= link_to "", "#", id: "navbarDropdown", class: "nav-link dropdown-toggle fas fa-bars nav-text-icon", "role": "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false" %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% $tools.each do |k, v|  %>
                <%= link_to $tools[k][:title], $tools[k][:path], class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <% $static_pages.each do |key, value|  %>
                <%= link_to key, value, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <% if current_user %>
              <%= link_to "", "#", id: "navbarUser", class: "nav-link dropdown-toggle fas fa-user nav-text-icon", "role": "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false" %>
                <div class="dropdown-menu" aria-labelledby="navbarUser">
                  <a href="<%= edit_user_path(current_user) %>" class="dropdown-item"><i class="fas fa-user"></i> <%= current_user.house %></a>
                  <a href="<%= logout_path %>" class="dropdown-item"><i class="fas fa-sign-out-alt"></i></i>  Cerrar sesi칩n</a>
                </div>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>